/* header */
header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url("../images/logo.png");
    background-size: contain;
    margin-left: 20px;
}